
#scores {
    display: flex;
}

.team {
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#live-time {
    font-family: digital;
    font-size: 10vh;
    color: #f00;
    text-align: center;
    position: fixed;
    top: 45%;
    left: 50%;
    background-color: #000;
    padding: .1em;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 7vh;
}

.score {
    width: 30vh;
    font-size: 25vh;
    text-align: center;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 5vh;
}

.scorers {
    max-height: 25vh;
    overflow-y: auto;
}

ul {
    margin-top: .3em;
    font-size: 5vh;
    font-family: 'Raleway', sans-serif;
    list-style-position: inside;
    max-height: 25vh;
    overflow-y: auto;
    width: 90%;
    padding-right: .5em;
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}