* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

main {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 7vw;
    margin: 0 1.5em;
}

h1 {
    font-family: 'Bungee Spice', cursive;
    font-size: 7vh;
}

#scores {
    display: flex;
    width: 100%;
}

.team {
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#live-time {
    font-family: digital;
    font-size: 10vh;
    color: #f00;
    text-align: center;
    position: fixed;
    top: 45%;
    left: 50%;
    background-color: #000;
    padding: .1em;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 7vh;
}

.score {
    width: 30vh;
    font-size: 25vh;
    text-align: center;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 5vh;
}

.scorers {
    max-height: 25vh;
    overflow-y: auto;
}

ul {
    margin-top: .3em;
    font-size: 5vh;
    font-family: 'Raleway', sans-serif;
    list-style-position: inside;
    max-height: 25vh;
    overflow-y: auto;
    width: 90%;
    padding-right: .5em;
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}