* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

main {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 7vw;
    margin: 0 1.5em;
}

h1 {
    font-family: 'Bungee Spice', cursive;
    font-size: 7vh;
}

#teams {
    display: flex;
}

.team {
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team:not(:last-child) {
    margin-right: 2em;
}


h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 7vh;
}

ol {
    font-family: 'Raleway', sans-serif;
    font-size: 4.5vh;
    list-style-position: inside;
    width: 100%;
}

li {
    padding: .1em;
}

li:not(:last-child) {
    border-bottom: 1px solid #fff;
}